{% extends '/admin/base.html.twig' %}
{% block title %}Liste des utilisateurs
{% endblock %}
{% block content %}
<div class="col-12 col-xl-8 mx-auto my-3">
<p class="bg-success p-1 text-white text-center successupdate d-none">Mise à jour avec succés</p>
                <h5 class="text-center titlepage">Liste des utilisateurs</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Prénom</th>
                                <th class="text-center">Voir</th>
                                <th class="text-center">Activer / Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in allusers %}
                            <tr>
                                <th>{{user.id}}</th>
                                <td class="text-center">{{user.lastname}}</td>
                                <td class="text-center">{{user.firstname}}</td>
                                <td class="text-center"><a href="/admin/edituser/{{user.id}}" class="text-dark"><i class="icofont-arrow-right"></a></td>
                                <td class="text-center">
								<div class="custom-control custom-switch">
									<input userid={{ user.id }} type="checkbox" class="custom-control-input isactiveuser" {% if user.isactive %} checked {% endif %} id="{{ user.id }}delete">
									<label class="custom-control-label" for="{{ user.id }}delete"></label>
								</div>
							</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}
