{% extends '/admin/base.html.twig' %}
{% block title %}Message
{% endblock %}
{% block content %}
	<div class="col-12 col-xl-8 mx-auto my-3">
		<h3 class="text-center mt-5 my-md-2 titlepage">Message</h3>
		{{ form_start(form, {'attr': {'class': 'form-group mb-5 messagesendform', 'placeholder': 'Nom'}}) }}
		<div class="row d-md-flex mx-auto justify-content-center align-items-center">

			<div class="col-12 col-md-3 col-xl-2 my-1 my-lg-2 text-center">
				<p>Nom :
					<br><span class="font-weight-bold">{{message.name}}</span>
				</p>
			</div>
			<div class="col-12 col-md-3 col-xl-2 my-1 my-lg-2 text-center name">
				<p>Prénom :
					<br><span class="font-weight-bold">{{message.firstname}}</span>
				</p>
			</div>
			<div class="col-12 col-md-5 col-lg-3 col-xl-3 my-1 my-lg-2 text-center">
				<p>Email :
					<br><span class="font-weight-bold">{{message.email}}</span>
				</p>
			</div>
		</div>
		<div class="row d-md-flex mx-auto justify-content-center align-items-center">
			<p>Objet :
				<span class="font-weight-bold">{{message.object}}</span>
			</p>
		</div>
		<div class="row">
			<div class="col-10 col-sm-6 col-lg-4 my-4  p-2 rounded mx-auto text-center messageshow">
				<p class="bg-secondary text-white p-2">{{message.message}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-8 col-lg-5 my-2 my-lg-4 text-center mx-auto">
				{{ form_widget(form.message, {'attr': {'class': 'w-100 responsemessage', 'rows': 4}}) }}
			</div>
		</div>
		<div class="col-12 my-1 my-lg-2 text-center">
			<button type="submit" class="btn btninscription bgcolor68c2e8 text-white">Répondre</button>
		</div>

		{{ form_end(form) }}

	</div>
{% endblock %}
