{% extends '/admin/base.html.twig' %}
{% block title %}Edit administrateur{% endblock %}
{% block content %}

	<div class="col-12 col-sm-10 col-xl-8 mx-auto my-3">
		<h5 class="text-center titlepage">Profil administrateur</h5>
		{{ form_start(form, {'attr': {'method': 'post', 'class': 'form-group my-5'}}) }}
			<div class="row d-md-flex mx-auto align-items-center">
				<div class="col-12 col-md-4 my-2 d-flex justify-content-center position-relative">
					<img class="imgprofil rounded-circle" src="/assets/img/profil.jpg" alt="">
					<input class="w-25 form-control-file fileprofil position-absolute" type="file" name="imgprofil">
					<i class="w-25 icofont-edit editimgprofil position-absolute"></i>
				</div>

				<div class="col-12 col-md-4 my-2 mx-auto">
					{{ form_widget(form.pseudo, {'attr': {'class': 'mx-xl-2 form-control pseudoprofil mx-auto text-center', 'type':'text', 'placeholder': 'Pseudo'}}) }}
				</div>
				<div class="col-12 col-md-4 my-2 d-flex justify-content-center position-relative">
				 {{ form_widget(form.rol) }} 
					{# <select name="adminLevel" id="adminlevel-select">
						<option value="">--Admin Level--</option>
						<option value="admin">Admin</option>
						<option value="superadmin">SuperAdmin</option>
					</select> #}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.lastname, {'attr': {'class': 'form-control mx-xl-2 text-center', 'placeholder': 'Nom'}}) }}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.firstname, {'attr': {'class': 'form-control mx-xl-2 text-center', 'placeholder': 'Prénom'}}) }}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.date_birth, {'attr': {'class': 'mx-xl-2 text-center'}}) }}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.email, {'attr': {'class': 'form-control mx-xl-2 text-center', 'type':'email', 'placeholder': 'Email'}}) }}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.password.first, {'attr': {'class': 'form-control mx-xl-2 text-center mdp', 'type':'password', 'placeholder': 'Mot de passe'}}) }}
				</div>
				<div class="col-12 col-sm-6 col-md-4 my-2">
					{{ form_widget(form.password.second, {'attr': {'class': 'form-control mx-xl-2 text-center mdp1', 'type':'password', 'placeholder': 'Confirmation'}}) }}
				</div>
				{% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' %}
				<div class="col-12 my-2 text-center">
					<button type="submit" class="btn btninscription bgcolor68c2e8 text-white">Confirmation</button>
				</div>
				{% endif %}
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
