{% extends '/front/base.html.twig' %}
{% block title %}Mon profil
{% endblock %}
{% block content %}
<div class="col-12 col-sm-10 col-xl-8 mx-auto">
            <h5 class="ml-3 my-2 d-none d-sm-block text-center text-md-left">Mon profil</h5>
            {{ form_start(form, {'attr': {'method': 'post', 'class': 'formupdate row form-group my-5'}}) }}
                <div class="row d-md-flex col-12 align-items-center m-0 p-0">
                    <div class="col-12 col-md-5 d-flex justify-content-center position-relative">
                        <img class="imgprofil rounded-circle" src="/assets/img/profil.jpg" alt="">
                        <input class="w-25 form-control-file fileprofil position-absolute" type="file" name="imgprofil">
                        <i class="w-25 icofont-edit editimgprofil position-absolute"></i>
                    </div>
                    <div class="col-10 col-sm-8 col-md-5 mx-auto mt-5 my-md-0">
                        <p class="text-center">Changer la photo de couverture</p>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile04">
                                <label class="custom-file-label" for="inputGroupFile04">Choisir un fichier</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-75 inscriptionform mx-auto form-group d-flex justify-content-center mt-4">
                    <div class="col-12 my-2">
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-control pseudoprofil mx-auto text-center', 'type':'text', 'placeholder': 'Pseudo'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control mx-xl-2 text-center', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control mx-xl-2 text-center', 'placeholder': 'Prénom'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.date_birth, {'attr': {'class': 'mx-xl-2 text-center'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control mx-xl-2 text-center', 'type':'email', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control mx-xl-2 text-center', 'type':'password', 'placeholder': 'Mot de passe'}}) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 my-2">
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control mx-xl-2 text-center', 'type':'password', 'placeholder': 'Confirmation'}}) }}
                    </div>
                    <div class="col-12 my-2 text-center">
                        <button type="submit" class="btn btninscription bgcolor68c2e8 text-white">Confirmation</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
{% endblock %}

