{% extends '/admin/base.html.twig' %}
{% block title %}Liste des messages
{% endblock %}
{% block content %}


	<div class="col-12 col-xl-8 mx-auto my-3">
		<h5 class="text-center titlepage">Liste des Messages</h5>
        <p class="bg-success p-1 text-white text-center successupdate d-none">Mise à jour avec succés</p>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th class="text-center">Nom</th>
						<th class="text-center">Prénom</th>
						<th class="text-center">Email</th>
						<th class="text-center">Objet</th>
						<th class="text-center">Voir</th>
						<th class="text-center">Marquer lu</th>
						<th class="text-center">Supprimer</th>
					</tr>
				</thead>
				<tbody>

					{% for message in allmessage %}
						<tr>
							<th>{{ message.id }}</th>
							<td class="text-center">{{ message.name }}</td>
							<td class="text-center">{{ message.firstname }}</td>
							<td class="text-center">{{ message.email }}</td>
							<td class="text-center">{{ message.object }}</td>
							<td class="text-center">
								<a href="/messageadmin/{{ message.id }}" class="text-decoration-none text-dark">
									<i class="icofont-eye-alt"></i>
								</a>
							</td>
							<td class="text-center">
								<div class="custom-control custom-switch">
									<input messageid={{ message.id }} type="checkbox" class="custom-control-input isreadmessage" {% if message.isread %} checked {% endif %} id="{{ message.id }}read">
									<label class="custom-control-label" for="{{ message.id }}read"></label>
								</div>
							</td>
							<td class="text-center">
								<div class="custom-control custom-switch">
									<input messageid={{ message.id }} type="checkbox" class="custom-control-input isactivemessage" {% if message.isactive %} checked {% endif %} id="{{ message.id }}delete">
									<label class="custom-control-label" for="{{ message.id }}delete"></label>
								</div>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
